
**/.env
**/.env.*

**/node_modules
**/dist
**/*.log


.git
.gitignore
.gitattributes


backend/db
docker


frontend/playwright-report
frontend/test-results
frontend/tests
frontend/.github

compose.yaml
Dockerfile
.dockerignore
*.md
*.txt
evidencias
scripts
